@inherits LayoutComponentBase

<div class="login-page">
    @Body
</div>

<div id="blazor-error-ui" data-nosnippet>
    Ha ocurrido un error inesperado.
    <a href="." class="reload">Recargar</a>
    <span class="dismiss">🗙</span>
</div>
